# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
dist/
*.tsbuildinfo

# Logs
logs/
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# VSCode
.vscode/

# Env files
.env

# Coverage
coverage/

# Others
.idea/
*.swp
*.swo
